.ilab-crop-preview {
  overflow: hidden;
}

.ilab-crop-now-wrapper {
  margin-top: 12px;
}

.ilabc-cropper {
  max-width: 100%;
  max-height: 100%;
}

.ilabm-sidebar-content-cropper {
  flex-direction: column !important;
  padding: 10px 10px 10px 10px;

  overflow:scroll;

  h3 {
    margin-top:0px;
    font-size: 11px;
    text-transform: uppercase;
    color: #888;
    font-weight: bold;
  }
}

.cropper-dashed.dashed-h {
  top: 38.4615385%;
  height: 23.076923%;
}

.cropper-dashed.dashed-v {
  left: 38.4615385%;
  width: 23.076923%;
}

.ilabc-current-crop-container {
  background-image: url(../img/ilab-imgix-edit-bg.png);
  text-align:center;
  margin-bottom: 15px;
}

.ilab-current-crop-img {
  padding:0px !important;
  margin:0px !important;
  margin-bottom:-4px !important;
  max-width:100%;
  height:auto;
}