.ilab-imgix-media-sidebar {
    right: 0px !important;
    width: 299px !important;
    padding: 0 !important;
}

.ilab-imgix-media-frame-content {
    top: 50px;
}

.ilab-imgix-attachment-details {
    position:relative;
    height:100%;
    width:100%;
}

.ilab-imgix-parameters-container {
    position: absolute;
    left:0px; right:0px; top:0px; bottom: 45px;
    padding-right: 15px;
    padding-left:15px;
    margin-right: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: scroll;
}

.ilab-imgix-parameters-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.ilab-imgix-parameters-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
}

.ilab-imgix-parameter {
    padding:0px !important;
    margin:0px !important;
    margin-bottom: 15px !important;
    border-bottom: 1px solid rgba(0,0,0,0.125);
}

.ilab-imgix-parameter h3 {
    margin-top:0px;
}

.ilab-imgix-parameter input[type=range]{
    display:block;
    width: 100%;
    -webkit-appearance: none;
    margin: 0 0 10px 0;
    background: none;
    padding:0px !important;
}

.ilab-imgix-parameter input[type=range]:focus {
    outline: none;
}

.ilab-imgix-parameter input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.25);
    background: #d4cfd4;
    border-radius: 4px;
    border: 0px solid #000101;
}

.ilab-imgix-parameter input[type=range]::-webkit-slider-thumb {
    border: 1px solid rgba(0,0,0,0.25);
    box-shadow: inset 0px 2px 2px 0px rgba(255,255,255,0.5);
    height: 17px;
    width: 17px;
    border-radius: 9px;
    background: #dcdcdc;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}

.ilab-imgix-parameter input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FFFFFF;
}

.ilab-imgix-parameter input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.25);
    background: #d4cfd4;
    border-radius: 4px;
    border: 0px solid #000101;
}

.ilab-imgix-parameter input[type=range]::-moz-range-thumb {
    border: 1px solid rgba(0,0,0,0.25);
    box-shadow: inset 0px 2px 2px 0px rgba(255,255,255,0.5);
    height: 17px;
    width: 17px;
    border-radius: 9px;
    background: #dcdcdc;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}

.ilab-imgix-parameter a {
    font-size: 11px;
    display:block;
    width: 100%;
    text-align:right;
    font-style: italic;
    margin-bottom: 5px;
    outline: none !important;
    border:0px none !important;
}
.ilab-imgix-parameter a:focus {
    outline: none !important;
    border:0px none !important;
}

.ilab-apply-now-wrapper {
    background:#fff;
    position: absolute;
    height: 30px;
    left:0px; right:0px; bottom:0px;
    padding: 15px;
    border-top: 1px solid #ddd;
}

#ilab-preview-wait-modal {
    position:absolute;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    text-align:center;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.66);
    left:50%;
    top:50%;
    margin-left:-60px;
    margin-top:-32px;
}

#ilab-preview-wait-modal h3 {
    text-transform: uppercase;
    font-size: 13px;
}

#ilab-preview-wait-modal span.spinner {
    float: none !important;
}

.is-hidden {
    display:none;
}
