.ilabm-backdrop {
  position: fixed;
  display: block;
  background-color:rgba(0,0,0,0.66);
  left:0px; top:0px; right:0px; bottom:0px;
  z-index: 160000 !important;
}

.ilabm-container {
  z-index: 160000 !important;
  background-color: rgb(252, 252, 252);
  position: absolute;
  left: 30px;
  top: 30px;
  right: 30px;
  bottom: 30px;
  border-radius: 0px;

  display: flex;
  flex-direction: column;
}

.ilabm-titlebar {
  border-bottom: 1px solid #ddd;
  min-height: 50px;
  max-height: 50px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.15);

  display: flex;

  h1 {
    flex: 2 100%;
    display:block;
    margin: 0px;
    padding: 0px 16px;
    font-size: 22px;
    line-height: 50px;
  }

  a {
    display: block;
    max-width: 50px;
    min-width: 50px;
    border-left: 1px solid #ddd;
  }
}

.ilabm-window-area {
  flex: 2 100%;
  display: flex;
  flex-direction: row;
}

.ilabm-window-area-content {
  background-color: #fff;
  flex: 2 100%;
  display: flex;
  flex-direction: column;
}

.ilabm-editor-container {
  flex: 2 100%;
  position: relative;
}

.ilabm-editor-area {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url(../img/ilab-imgix-edit-bg.png);
  display: block;
  margin: 10px;
}

.ilabm-sidebar {
  min-width: 350px;
  max-width: 350px;
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
  border-left:3px solid #ddd;
}

.ilabm-sidebar-content {
  position: relative;
  display: flex;
  flex: 2 100%;
}

.ilabm-sidebar-tabs {
  background: #ddd;
  display: flex;
  min-height: 36px;
  max-height: 36px;

  .ilabm-sidebar-tab {
    min-width:40px;
    white-space: nowrap;
    text-align:center;
    margin-top: 3px;
    background-color: #ccc;
    line-height: 30px;
    padding: 0px 15px;
    margin-right: 3px;
    font-size: 11px;
    text-transform: uppercase;
    color: #888;
    font-weight: bold;
    cursor: pointer !important;
  }

  .active-tab {
    background-color: rgb(243, 243, 243);
    color: #777;
  }
}

.ilabm-sidebar-actions {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  border-top: 1px solid #eee;
  padding: 11px;

  a {
    display: block;
    margin-left: 10px !important;
  }
}

a.button-reset {
  background: #AA0000 !important;
  border-color: #770000 !important;
  color: white !important;
  box-shadow: inset 0 1px 0 #DD0000, 0 1px 0 rgba(0, 0, 0, 0.15) !important;
}

.ilabm-editor-tabs {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ddd;
  background: #ddd;

  .ilabm-editor-tab {
    white-space: nowrap;
    min-width: 50px;
    text-align: center;
    min-height: 32px;
    max-height: 33px;
    margin-top: 3px;
    background-color: #ccc;
    line-height: 31px;
    padding: 0px 15px;
    margin-right: 3px;
    font-size: 11px;
    text-transform: uppercase;
    color: #888;
    font-weight: bold;
    cursor: pointer !important;
  }

  .active-tab {
    background: white;
    margin-bottom:-1px;
    margin-top: 2px;
    border-right:1px solid #ddd;
    border-left:1px solid #ddd;
    border-top:1px solid #ddd;
  }

  .ilabm-tabs-select-label {
    margin-top: 3px;
    line-height: 32px;
    padding: 0px 5px 0px 15px;
    margin-right: 3px;
    font-size: 11px;
    text-transform: uppercase;
    color: #888;
    font-weight: bold;
    cursor: pointer !important;
  }

  .ilabm-tabs-select {
    margin-top: 4px;
    line-height: 32px;
    font-size: 11px;
  }
}




.ilabm-status-container {
  display: flex;
  flex: 1;
  justify-content: flex-start;

  .is-hidden {
    display: none;
  }

  .spinner {
    margin:0px 8px 0px 0px;
  }
}

.ilabm-status-label {
  font-size: 13px;
}

.ilabm-pillbox {
  padding: 10px 0px 20px 0px;
  text-align: center;
  margin-bottom: 10px !important;

  .ilabm-pill {
    white-space: nowrap;
    line-height:30px;
    font-size: 10px;
    padding: 10px 14px 10px 35px;
    background-color: #eaeaea;
    text-transform: uppercase;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    border-radius: 8px;
    margin:3px;
  }

  .pill-selected {
    background-color: #ccc;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.25);
    color: white;
  }
}


.ilabm-preview-wait-modal {
  position:absolute;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
  text-align:center;
  padding: 20px 40px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.66);
  left:50%;
  top:50%;
  margin-left:-60px;
  margin-top:-32px;

  h3 {
    text-transform: uppercase;
    font-size: 13px;
  }

  span.spinner {
    float: none !important;
  }
}

.ilabm-bottom-bar {
  font-size: 12px !important;
  padding: 0px 10px 10px 10px;
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
  min-height: 20px;

  .ilabm-bottom-bar-seperator {
    position: relative;
    width:1px;
    height:20px;
    background-color: #ccc;
    margin: 0px 10px 0px 20px !important;
  }

  a {
    margin-left: 10px !important;
  }

  select {
    font-size: 13px !important;
    min-width: 140px;
    margin-left: 10px !important;
  }

  label {
    font-size: 13px !important;
  }
}

.is-hidden {
  display:none;
}

.ilabm-modal-close {
  top: 0;
  right: 0;
  cursor: pointer;
  color: #777;
  background-color: transparent;
  height: 50px;
  width: 50px;
  position: absolute;
  text-align: center;
  border: 0;
  border-left: 1px solid #ddd;
  transition: color .1s ease-in-out, background .1s ease-in-out;
  text-decoration: none;
  z-index: 1000;
  box-sizing: content-box;
  transition-property: border, background, color;
  transition-duration: .05s;
  transition-timing-function: ease-in-out;
}

.ilabm-modal-icon {
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.ilabm-modal-icon:before {
  content: '\f335';
  font: normal 22px/1 'dashicons';
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
}