.imgix-preview-image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.imgix-parameters-container {
  position: absolute;
  left:0px; right:0px; top:0px; bottom: 0px;
  padding-right: 20px;
  padding-left:10px;
  margin-right: 4px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 0px !important;
  overflow: scroll;
  padding-bottom:  0px !important;

  select {
    font-size: 12px;
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
  }

  h4 {
    margin-left:-20px;
    margin-right:-15px;
    margin-bottom:15px;
    margin-top: 0px;
    font-size: 10px;
    text-transform: uppercase;
    color: #999;
    background-color: #ddd;
    padding: 5px;
    padding-left: 20px;
  }
}

.imgix-parameter {
  padding:0px !important;
  margin:0px !important;
  margin-bottom: 15px !important;
  border-bottom: 1px solid rgba(0,0,0,0.125);

  &:first-child {
    margin-top:15px !important;
  }

  &:last-child {
    border-bottom: 0px none;
    margin-bottom: 30px !important;
  }

}

.imgix-param-title {
  display: flex;
  align-items: baseline;
  margin-bottom: 0px;

  .wp-picker-input-wrap {
    display: none;
  }
}

.imgix-param-title-colortype {
  align-items: center !important;
}

.imgix-param-title-left {
  flex: 1 50%;
}

.imgix-param-title-right {
  flex: 1 50%;
  padding-left: 40px;
  text-align:right;
  position: relative;

  .wp-picker-container {
    position: relative;
  }

  .wp-picker-holder {
    position: absolute;
    right: 0px;
    top: 20px;
    z-index: 1000;
  }

  .wp-color-result {
    margin: 0 0px 8px 0px;
    height: 20px;

    &::after {
      line-height:20px;
      font-size:10px;
    }
  }

  .iris-picker {
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  }

  h3 {
    text-align: right;
  }
}

.imgix-param-title h3, .imgix-param-blend-mode h3 {
  margin-top:0px;
  font-size: 11px;
  text-transform: uppercase;
  color: #666;
}

.imgix-media-param-title {
  .imgix-param-title-left {
    flex: 2 80%;
  }

  .imgix-param-title-right {
    flex: 1 20%;
    a {
      text-align: center !important;
    }
  }
}

.imgix-param-blend-mode {
  margin-top: 15px;
  display: flex;
  align-items: baseline;

  h3 {
    flex: 1 50%;
  }

  select {
    flex: 2 100%;
  }
}

.imgix-parameter {
  input[type=range] {
    display: block;
    width: 100%;
    -webkit-appearance: none;
    margin: 0 0 10px 0;
    background: none;
    padding: 0px !important;

    &:focus {
      outline: none;

      &::-webkit-slider-runnable-track {
        background: #FFFFFF;
      }
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 5px;
      cursor: pointer;
      animate: 0.2s;
      box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
      background: #d4cfd4;
      border-radius: 4px;
      border: 0px solid #000101;
    }

    &::-webkit-slider-thumb {
      border: 1px solid rgba(0, 0, 0, 0.25);
      box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.5);
      height: 17px;
      width: 17px;
      border-radius: 9px;
      background: #dcdcdc;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -6px;
    }

    &::-moz-range-track {
      width: 100%;
      height: 5px;
      cursor: pointer;
      animate: 0.2s;
      box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.25);
      background: #d4cfd4;
      border-radius: 4px;
      border: 0px solid #000101;
    }

    &::-moz-range-thumb {
      border: 1px solid rgba(0,0,0,0.25);
      box-shadow: inset 0px 2px 2px 0px rgba(255,255,255,0.5);
      height: 17px;
      width: 17px;
      border-radius: 9px;
      background: #dcdcdc;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -6px;
    }
  }

  a.imgix-param-reset {
    font-size: 11px;
    display:block;
    width: 100%;
    text-align:right;
    font-style: italic;
    margin-bottom: 10px;
    outline: none !important;
    border:0px none !important;
    text-decoration: none;
  }

  a:focus {
    outline: none !important;
    border:0px none !important;
  }
}

.imgix-media-preview {
  position:relative;
  padding:0px !important;
  margin: 0px !important;
  padding-bottom:100% !important;
  background-image: url(../img/ilab-imgix-edit-bg.png);
  width:100%;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    display: block;
  }
}

.imgix-media-preview-inner {
  position:absolute;
  left:0px; right:0px; bottom:0px; top:0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgix-alignment-container {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  padding:0px 35px;
}

.imgix-alignment-button {
  background-color: #ddd;
  display: block;
  width: 60px;
  height: 60px;
  margin: 5px 5px;
  text-decoration:none;
  border-radius: 4px;
  border:1px solid #888;

  box-shadow: inset 0 1px 0 #FFFFFF, 0 1px 0 rgba(0, 0, 0, 0.15) !important;
}

.selected-alignment {
  background-color: #bbb;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.25), 0 1px 0 rgba(0, 0, 0, 0.15) !important;
}
.imgix-pill-enhance {
  background-image: url(../img/ilab-imgix-magic-wand-black.png);
  background-repeat: no-repeat;
  background-position: 12px 8px;
  padding-left: 40px;
  background-size: 20px 20px;
}

.imgix-pill-enhance.pill-selected {
  background-image: url(../img/ilab-imgix-magic-wand-white.png);
}

.imgix-pill-redeye {
  background-image: url(../img/ilab-imgix-red-eye-black.png);
  background-repeat: no-repeat;
  background-position: 12px 8px;
  padding-left: 40px;
  background-size: 20px 20px;
}

.imgix-pill-redeye.pill-selected {
  background-image: url(../img/ilab-imgix-red-eye-white.png);
}

.imgix-preset-make-default-container {
  align-items: center;
  display: flex;
  min-height:30px;
}

.imgix-preset-container {
  align-items: center;
  display: flex;
}

.imgix-preset-container.is-hidden, .imgix-preset-make-default-container.is-hidden {
  display: none;
}


.imgix-param-label
{
  font-style:italic;
}

.imgix-label-editor {
  position: absolute;
  right: -4px;
  top: 0px;
  width: 40px;
  font-size: 11px;
  padding: 1px;
  text-align: right;
}
